/** Add css rules here for your application. */


body
{
    margin:0px;
    padding:0px;
}*

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

#closeButton {
  margin: 15px 6px 6px;
}

.header{
    background-color: #d7d7d7;
}

.footer{
    background-color: #d7d7d7;
}

.border_no_right {
    border-right: 0;
}

.border_no_left {
    border-left: 0;
}

.border_no_top {
    border-top: 0;
}

.border_no_bottom {
    border-bottom: 0;
}

.gwt_logo {
    /*background-image: url('web/img/avanti_logo_64.png');*/
    /*background-position: right bottom;*/
    /*background-repeat: no-repeat;*/
    position: absolute;
    opacity: 50;
    vertical-align: bottom;
    right: 25px;
    bottom: 25px;

}

.gwt_main {
    background-color: white;
}

.dragdrop-dropTarget-engage {
    background-color: #E0E8FF;
}

.tooltip {
    background: #eee;
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
